
.item img{
  width: 50px;
}
.descripBlock{
  padding-left: 30px;
}
.Prof_block{
  margin-left: 50px;
}
.line{
  display: flex;
  flex-direction: row;
}
img{
  border-radius: 50%;
}
.bob{
  color: red;
}
