.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}
.app-wrapper-content{
    grid-area: c;
    background-color: rgba(110, 110, 211, 0.822);
}
body{
  background-color: rgb(241, 241, 241);
}
